<!DOCTYPE HTML>
<html>

<head>
	<title>audizo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Add Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/userImages/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/userImages/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/static/userImages/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/userImages/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/userImages/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/userImages/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/static/userImages/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/userImages/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/static/userImages/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/static/userImages/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/userImages/css/style.css">
	<style>
		#colorlib-contact {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.contact-wrap {
			width: 100%;
			max-width: 500px;
		}

		.form-group {
			text-align: left;
			/* Center text within form-group */
		}

		.btn-primary,
		.btn-google {
			display: block;
			width: 100%;
			/* Full width buttons */
			margin: 10px 0;
			/* Margin between buttons */
		}

		.input-group {
			display: flex;
			justify-content: center;
			/* Center the input and button */
		}

		/* .input-group input {
            flex-grow: 1;
        } */
	</style>

</head>

<body>
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="/">AUDIZO.</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="/">Home</a></li>
								<li class="has-dropdown">
									<a href="/shop">Shop</a>
									<ul class="dropdown">
										<li><a href="/shop">Shop Products</a></li>
										<li><a href="/cart">Shopping Cart</a></li>
										<!-- <li><a href="checkout.html">Checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li> -->
										<li><a href="/wishlist">Wishlist</a></li>
									</ul>
								</li>
								<li><a href="/about">About</a></li>
								<!-- <li><a href="/shop">Shop</a></li> -->
								<!-- <li class="active"><a href="contact.html">Contact</a></li> -->
								<li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> cart</a></li>
								<li class="cart"><a href="/wishlist"><i class="icon-heart"></i>wishlist</a></li>
								<li class="cart"><a href="/login"><i class="icon-user"></i> Login</a></li>



							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- <div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / <span>Contact</span></p>
					</div>
				</div>
			</div>
		</div> -->


		<div id="colorlib-contact">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="contact-wrap">
							<h3>Reset your password</h3>
							<p>Enter your new password below</p>
							<form id="resetForm" class="contact-form"  method="POST" action="/newPassword">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="password">New Password</label>
											<div class="input-group">
												<input type="password" id="password" name="password" class="form-control" placeholder="New password" required>
												<div class="input-group-append">
													<button class="btn btn-secondary" type="button" id="togglePassword" style="height: 37px;">
														<i class="fas fa-eye-slash" id="eyeIconPassword"></i>
													</button>
												</div>
											</div>
											<div id="password-error" class="text-danger d-none">
												Password must be at least 5 characters long and must not start with dots or spaces.
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="confirmPassword">Confirm Password</label>
											<div class="input-group">
												<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password" required>
												<div class="input-group-append">
													<button class="btn btn-secondary" type="button" id="toggleConfirmPassword" style="height: 37px;">
														<i class="fas fa-eye-slash" id="eyeIconConfirmPassword"></i>
													</button>
												</div>
											</div>
											<div id="confirmPassword-error" class="text-danger d-none">
												Passwords do not match.
											</div>
										</div>
									</div>
									
									<input type="hidden" id="token" name="token" value="<%= token %>">
									<div class="col-md-12">

										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Reset
												Password</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<footer id="colorlib-footer" role="contentinfo" >
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4 >About audizo</h4>
						<p> We’re dedicated to
							giving you the very best audio experience, with a focus on innovation, quality, and
							customer satisfaction.</p>
						<!-- <p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
						</p> -->
					</div>
					<div class="col footer-col colorlib-widget" >
						<h4 >Customer Care</h4>
						<p>
						<ul class="colorlib-footer-links" >
							<li><a href="/about">Contact</a></li>
							<li><a href="/myOrders">Returns/Exchange</a></li>
							<li><a href="/cart">Gift Voucher</a></li>
							<li><a href="/wishlist">Wishlist</a></li>
							<li><a href="#">Special</a></li>
							<li><a href="/about">Customer Services</a></li>
						</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Information</h4>
						<p>
						<ul class="colorlib-footer-links" >
							<li><a href="/about">About us</a></li>
							<li><a href="/myOrders">Delivery Information</a></li>
							<li><a href="/about">Privacy Policy</a></li>
							<li><a href="/about">Support</a></li>
							<li><a href="myOrders">Order Tracking</a></li>
						</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>News</h4>
						<ul class="colorlib-footer-links">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Exhibitions</a></li>
						</ul>
					</div>

					<div class="col footer-col">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br>Koramangala,Banglore</li>
							<li><a href="zoaudi866@gmail.com">zoaudi866@gmail.com</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p>
							<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> AUDIZO
							</span>
							
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/static/userImages/js/fireBase.js" defer type="module"></script>

	<script src="/static/userImages/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="/static/userImages/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="/static/userImages/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="/static/userImages/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="/static/userImages/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/userImages/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/static/userImages/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/userImages/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/userImages/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<!-- <script src="/static/userImages/js/bootstrap-datepicker.js"></script> -->
	<!-- Stellar Parallax -->
	<script src="/static/userImages/js/jquery.stellar.min.js"></script>
	<!-- Google Map -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script> -->
	<!-- <script src="/static/userImages/js/google_map.js"></script> -->
	<!-- Main -->
	<script src="/static/userImages/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const form = document.getElementById('resetForm');
			const passwordInput = document.getElementById('password');
			const confirmPasswordInput = document.getElementById('confirmPassword');
			const passwordError = document.getElementById('password-error');
			const confirmPasswordError = document.getElementById('confirmPassword-error');

			form.addEventListener('submit', async (event) => {
				event.preventDefault();

				const password = passwordInput.value.trim();
				const confirmPassword = confirmPasswordInput.value.trim();

				// Validate password
				const passwordRegex = /^(?![ .]).{5,}$/;
				if (!passwordRegex.test(password)) {
					passwordInput.classList.add('is-invalid');
					passwordError.classList.remove('d-none');
					return;
				} else {
					passwordInput.classList.remove('is-invalid');
					passwordError.classList.add('d-none');
				}

				// Validate password match
				if (password !== confirmPassword) {
					confirmPasswordInput.classList.add('is-invalid');
					confirmPasswordError.classList.remove('d-none');
					return;
				} else {
					confirmPasswordInput.classList.remove('is-invalid');
					confirmPasswordError.classList.add('d-none');
				}

				const formData = new FormData(form);
				try {
					const response = await fetch('/newPassword', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify(Object.fromEntries(formData.entries())),
					});

					const data = await response.json();
					if (response.ok) {
						Swal.fire({
							title: 'Password Reset',
							text: data.message,
							icon: 'success',
						}).then(() => {
							window.location.href = '/login';
						});
					} else {
						throw new Error(data.message);
					}
				} catch (error) {
					console.error('Error:', error.message);
					Swal.fire({
						title: 'Error',
						text: error.message,
						icon: 'error',
					});
				}
			});
		});
        
		// Toggle visibility for the new password field
document.getElementById('togglePassword').addEventListener('click', function () {
	const passwordInput = document.getElementById('password');
	const eyeIconPassword = document.getElementById('eyeIconPassword');

	if (passwordInput.type === 'password') {
		passwordInput.type = 'text';
		eyeIconPassword.classList.remove('fa-eye-slash');
		eyeIconPassword.classList.add('fa-eye');
	} else {
		passwordInput.type = 'password';
		eyeIconPassword.classList.remove('fa-eye');
		eyeIconPassword.classList.add('fa-eye-slash');
	}
});

// Toggle visibility for the confirm password field
document.getElementById('toggleConfirmPassword').addEventListener('click', function () {
	const confirmPasswordInput = document.getElementById('confirmPassword');
	const eyeIconConfirmPassword = document.getElementById('eyeIconConfirmPassword');

	if (confirmPasswordInput.type === 'password') {
		confirmPasswordInput.type = 'text';
		eyeIconConfirmPassword.classList.remove('fa-eye-slash');
		eyeIconConfirmPassword.classList.add('fa-eye');
	} else {
		confirmPasswordInput.type = 'password';
		eyeIconConfirmPassword.classList.remove('fa-eye');
		eyeIconConfirmPassword.classList.add('fa-eye-slash');
	}
});

	</script>


</body>

</html>