<!DOCTYPE HTML>
<html>

<head>
	<title>audizo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/userImages/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/userImages/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/static/userImages/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/userImages/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/userImages/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/userImages/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/static/userImages/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/userImages/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/static/userImages/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/static/userImages/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/userImages/css/style.css">

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="#">AUDIZO.</a></div>
						</div>
						<div class="col-sm-5 col-md-3">

						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="/">Home</a></li>
								<li class="has-dropdown">
									<a href="/shop">Shop</a>
									<ul class="dropdown">
										<li><a href="/shop">Shop Products</a></li>
										<li><a href="/cart">Shopping Cart</a></li>
										<!-- <li><a href="checkout.html">Checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li> -->
										<li><a href="/wishlist">Wishlist</a></li>
									</ul>
								</li>
								<!-- <li><a href="women.html">Women</a></li> -->
								<li><a href="/about">About</a></li>
								<!-- <li><a href="contact.html">Contact</a></li> -->
								<li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> cart</a></li>
								<li class="cart"><a href="/wishlist"><i class="icon-heart"></i>wishlist</a></li>
								<li class="cart"><a href="/profile"><i class="icon-user"></i>
										<%= user.name %>
									</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- 
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/home">Home</a></span> / <span>Order Success</span></p>
					</div>
				</div>
			</div>
		</div> -->


		<div class="colorlib-product">
			<div class="container">

				<div class="row">
					<div class="col-sm-10 offset-sm-1 text-center">
						<p class="icon-addcart"><span><i class="icon-cross"></i></span></p>
						<h2 class="mb-4">We are sorry your order has been failed.Try again.Thank you.</h2>
						<p>
							<!-- Check if payment status is pending -->
							<% if (order.paymentStatus==='Pending' ) { %>
								<div class="payment-pending">
									<p>Your order has not been completed. Please complete the payment.</p>
									<button class="btn btn-primary btn-outline-primary"   onclick="payNow('<%= order._id %>','<%= order.totalPrice%>')">Pay
										Now</button>
								</div>
								<% } %>
						</p>
					</div>
				</div>
			</div>
		</div>

		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4>About audizo</h4>
						<p> We’re dedicated to
							giving you the very best audio experience, with a focus on innovation, quality, and
							customer satisfaction.</p>
						<!-- <p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
						</p> -->
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Customer Care</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="/about">Contact</a></li>
							<li><a href="/myOrders">Returns/Exchange</a></li>
							<li><a href="/cart">Gift Voucher</a></li>
							<li><a href="/wishlist">Wishlist</a></li>
							<li><a href="#">Special</a></li>
							<li><a href="/about">Customer Services</a></li>
						</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Information</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="/about">About us</a></li>
							<li><a href="/myOrders">Delivery Information</a></li>
							<li><a href="/about">Privacy Policy</a></li>
							<li><a href="/about">Support</a></li>
							<li><a href="myOrders">Order Tracking</a></li>
						</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>News</h4>
						<ul class="colorlib-footer-links">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Exhibitions</a></li>
						</ul>
					</div>

					<div class="col footer-col">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br>Koramangala,Banglore</li>
							<li><a href="zoaudi866@gmail.com">zoaudi866@gmail.com</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p>
							<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> AUDIZO
							</span>

						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/static/userImages/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="/static/userImages/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="/static/userImages/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="/static/userImages/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="/static/userImages/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/userImages/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/static/userImages/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/userImages/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/userImages/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/static/userImages/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/static/userImages/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/static/userImages/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script>
		function payNow(orderId,amount){
	console.log("paynowwww");
	axios.get(`/payNow?amount=${amount}&orderId=${orderId}`)
	.then((response)=>{
		if(response.data.success){
			let orderId = response.data.orderId;
			let options = {
                                "key": response.data.key_id,
                                "amount": response.data.amount,
                                "currency": "INR",
                                "name": "AUDIZO",
                                "description": "Test Transaction",
                                "order_id": response.data.order_id,
                                "handler": function (response) {
                                    if (response.error) {
                                        Swal.fire({
                                            icon: "error",
                                            title: "Payment Failed",
                                            text: "Something went wrong!"
                                        }).then((result) => {
                                            window.location.reload();
                                        });
                                    } else if (response.razorpay_payment_id) {
                                        window.location.href = `/orderPlacing?orderId=${orderId}`;
                                    }
                                },
                                "theme": {
                                    "color": "#F37254"
                                }
                            };
                            let rzp1 = new Razorpay(options);
                            rzp1.open();
                            rzp1.on('payment.failed', (response) => {
                                setTimeout(() => {
                                    rzp1.close();
                                    window.location.reload();
                                }, 3000);
                            });
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire(
                            'Error!',
                            'An error occurred while processing the payment.',
                            'error'
                        );
                    });
            };

	</script>

</body>

</html>